@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--BGColor);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
  color: var(--Accent-4);
  margin-bottom: 0.5rem;
}


/*  
 *  Color Palette:
 *  Off-White [BGColor] -    #cccccc
 *  Pale Yellow [Accent 1] - #ffdd91
 *  Peach [Accent 2] -       #d6b2a5
 *  Pinkish [Accent 3] -     #b093a3
 *  Purple [Accent 4] -      #787492
 *  Navy [Accent 5] -        #282e54
 *
 */
:root {
  --BGColor:#cccccc;
  --Accent-1:#ffdd91;
  --Accent-2:#d6b2a5;
  --Accent-3:#b093a3;
  --Accent-4:#787492;
  --Accent-5:#282e54;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;c
  }
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem auto;
    height: 15rem;
    background: var(--Accent-2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
  }
  .card--avatar {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .card--title {
    color: var(--Accent-5);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  .card--link {
    text-decoration: none;
    background: var(--Accent-3);
    color: var(--Accent-1);
    padding: 0.3rem 1rem;
    border-radius: 20px;
  }

